// Variables de couleurs
$primary-color: #000;
$main-color: #0a0f25;
$font-color: #fff;
$secondary-font-color: #bdbdbd;
$main-hover-btn-color: #1565c0;
$about-background-color: #263238;
$main-logo-color: #ffffff;
$main-border-color: #757575;
$buttons-font-color: #fff;
$nav-a-color-hover: #97c2f7;

// Importation de Bootstrao
@import "../node_modules/bootstrap/scss/bootstrap";

// Application des couleurs principales
body {
    background-color: $main-color;
    color: $font-color;
}

header, footer {
    background-color: $primary-color;
    color: $font-color;
    border-color: $main-border-color;
}

.navbar {
    background-color: $primary-color;
    .nav-link {
        color: $font-color;
        &:hover {
            color: $nav-a-color-hover;
        }
    }
}

// Boutons
.btn {
    background-color: $main-hover-btn-color;
    color: $buttons-font-color;
    border-color: $main-border-color;
    &:hover {
        background-color: lighten($main-hover-btn-color, 10%);
    }
}

// Section "About"
.about-section {
    background-color: $about-background-color;
    color: $secondary-font-color;
}

// Logos
.logo {
    color: $main-logo-color;
}

// Liens
a {
    color: $font-color;
    &:hover {
        color: $nav-a-color-hover;
    }
}